* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* User styles (Paul Chatterton) */

html {
  font-size: 62.5%;
}

body {
  background-color: #f6f6f6;
  font-size: 1.4rem; /* =14px */
  font-family: Arial,sans-serif;
  line-height: 20px;
  color: #333;
}

.clear {
  clear: both;
}

.nav > li > a {
  padding: 5px 10px;
  color: #FFF;
  background-color: #3D7E99;
}

.nav > li > a:hover {
  padding: 5px 10px;
  color: #FFF;
  background-color: #559dbb;
}

/* Header styles */

header {
  width: 100%;
  background-color: white;
  border-bottom: 5px solid #3D7E99;
  padding: 12px 20px 0;
  box-shadow: 0px 1px  5px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 1px  5px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 1px 5px  rgba(0,0,0,0.6);
  -o-box-shadow: 0px 1px 5px  rgba(0,0,0,0.6);
}

  .inner-navbar {
    
  }

      .inner-navbar .logo {
        float: left;
      }

      .inner-navbar .site-name {
        max-width: 400px; /*change for other devices*/
        float: left;
      }

        .inner-navbar .site-name p.site-name-main {
          font-size: 3.0rem;
        }

        .inner-navbar .site-name p span.beach-house {
          color: #3D7E99;
        }

        .inner-navbar .site-name p.location {
          margin-top: 5px;
          font-size: 1.8rem;
          color: #3D7E99;
          letter-spacing: 0.6px;
        }

    .inner-navbar .nav-right {
      max-width: 450px;
      float: right;
      margin-top: 12px;
    }

      .inner-navbar .nav-right ul {
        font-size: 1.6rem;
      }

        .inner-navbar .nav-right li {
          display: inline-block;
          margin-left: 5px;
          margin-right: 5px;
        }

          .inner-navbar .nav-right li a {
            color: #3D7E99;
            text-decoration: none;
          }

          .inner-navbar .nav-right li a:hover {
            text-decoration: underline;
          }

            .fa-facebook-square {
              color: #3b5998;
            }

            .fa-google-plus-square {
             color: #DD4B39;
            }

            .fa-twitter-square {
             color: #55ACEE;
            }

.container-main {
  width: 100%;
  padding: 12px 20px 0;
}

  .sub-header-wrapper {
    margin: 15px auto 0;
  }

    .sub-header-wrapper .main-description p {
      text-transform: uppercase;
      font-size: 2.6rem;
    }

  .sections-nav {
    padding: 10px 0 10px;
    border-bottom: 1px solid #3d7e99;
  }

  .sections-nav.ui-scrollfix {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 50px;
    margin-top: 0;
    padding-top: 8px;
    border-bottom: 4px solid #3D7E99;
  }

    .sections-nav li.scrollfix-site-name {
      display: none;
      font-size: 2.4rem;
      margin-top: 5px;
      margin-right: 150px;
    }

    .sections-nav.ui-scrollfix li.scrollfix-site-name {
      display: block;
    }

      .scrollfix-wrapper li.scrollfix-site-name span.beach-house {
        color: #3D7E99;
      }

      .sections-nav li {
        display: inline-block;
        margin: 0 10px;
      }

  section {

  }

  /* OVERVIEW */

  #overview {
    margin-top: 20px;
  }

    #overview .left-content {
      width: 65%;
      float: left;
    }

      .slider-wrapper {
        border: 15px solid #FFFFFF;
      }

        .slider-wrapper .slider {
/*          height: 450px;
          position: relative;

          -webkit-perspective: 1000px;
          -moz-perspective: 1000px;
          -ms-perspective: 1000px;
          -o-perspective: 1000px;
          perspective: 1000px;

          -webkit-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          -ms-transform-style: preserve-3d;
          -o-transform-style: preserve-3d;
          transform-style: preserve-3d;*/
      }

      .left-content .main-overview-description {
        margin-top: 50px;
        background-color: white;
        padding: 20px;
      }

        .left-content .main-overview-description h3 {
          font-size: 2.6rem;
          margin-bottom: 10px;
          color: #3D7E99;
        }

        .left-content .main-overview-description a {
          color: #3D7E99;
          cursor: pointer;
        }

        .left-content .main-overview-description a:hover {
          text-decoration: none;
          font-style: italic;
        }

          .left-content .main-overview-description .description-content p {
            margin: 0 0 10px;
            line-height: 20px;
          }

/* OVERVIEW STYLES */
    #overview .right-content {
      width: 30%;
      float: right;
    }


      .right-content .overview-content, .right-content .quotes-container {
        padding: 20px;
        background-color: white;
      }

        .right-content .second-level-overview {
          clear: both;
        }

        .right-content .overview-content h3 {
          font-size: 2.0rem;
          border-bottom: 1px solid #3D7E99;
          padding-bottom: 3px;
          color: #3D7E99;
          margin-bottom: 10px;
        }

        .right-content .overview-content .table-striped > tbody > tr:nth-child(odd) > td,
        .right-content .overview-content .table-striped > tbody > tr:nth-child(odd) > th {
          background-color: #f5f5f5;
        }

        .right-content .overview-content .table > tbody > tr > td {
          padding: 4px;
          line-height: 1.72857143;
          vertical-align: top;
          border-top: none;
          margin-bottom: 10px;
        }

        .right-content .overview-content .table > tbody > tr > td.indent {
          padding-left: 15px;
        }

        .right-content nav ul li.float-left {
          float: left;
        }

        .right-content nav ul li.float-right {
          float: right;
        }

      .right-content .quotes-container {
        margin-top: 50px;
        text-align: center;
        font-size: 2.0rem;
        color: #3D7E99;
      }

        .right-content .quotes-container p.quote-name {
          font-style: italic;
          font-size: 1.6rem;
        }

/* LOCATION STYLES */
  #location {
    background-color: #3D7E99;
    margin-top: 50px;
    padding: 40px;
    margin-left: -20px;
    margin-right: -20px;
  }

    .location-content-wrapper {
      width: 50%;
      float: left;
    }

      .location-content-wrapper h2 {
        font-size: 3.0rem;
        margin: 0 0 20px;
        color: #FFF;
      }
      .location-content-wrapper p {
        color: #FFF;
      }

        .location-content-wrapper .visit-places .panel {
          margin-top: 20px;
        }

          .panel table.table thead {
            color: #3D7E99;
            font-weight: bold;
          }

          .panel table.table th.text-center {
            text-align: center;
          }

          .location-content-wrapper .panel table.table tbody tr:hover {
            background-color: #f5f5f5;
            cursor: pointer;
          }

          .marker-color {
            color: #3D7E99;
          }

          .location-content-wrapper .panel table.table tbody td.notSelected {
            color: #DCDCDC;
          }

    .location-map-wrapper {
      width: 45%;
      float: right;
      margin-top: 30px;
      border: solid 10px #fff;
    }

      .angular-google-map-container {
        height: 400px;
      }

  #rates {
    margin-top: 50px;
    padding: 20px;
    background-color: #FFF;
  }

    .rates-wrapper {
      margin-top: 20px;
      position: relative;
    }

      .rates-wrapper h2 {
        margin-bottom: 15px;
        color: #3D7E99;
      }

      .rates-wrapper h3 {
        font-size: 2.0rem;
        margin-top: 10px;
        margin-bottom: 5px;
        color: #3D7E99;
      }

      .rates-wrapper .left-rates-wrapper {
        width: 70%;
        float: left;
      }

        #rates .left-rates-wrapper .table > tbody > tr > td {
          text-align: center;
        }

        #rates .left-rates-wrapper .table > tbody > tr > td:first-child {
          font-weight: bold;
        }

      .rates-wrapper .right-rates-wrapper {
        width: 30%;
        float: right;
        padding-left: 5%;
      }

      .rates-wrapper .nav {
        position: absolute;
        right: 100px;
        bottom: 0;
      }

        .rates-wrapper .nav > li > a {
          padding: 5px 10px;
          color: #FFF;
          background-color: #3D7E99;
        }

        .rates-wrapper .nav > li > a:hover {
          padding: 5px 10px;
          color: #FFF;
          background-color: #559dbb;
        }

  #houseDetails {
    margin-top: 50px;
    background-color: #FFF;
    padding: 20px;
  }

    .house-details-wrapper {
      min-width: 500px;
      width: 70%;
    }

    .house-details-wrapper h3 {
      background-color: #3d7e99;
      color: #FFF;
      padding: 10px;
      margin-bottom: 0;
    }
      
      .house-details-wrapper .table > tbody > tr {
        clear: both;
      }

      .house-details-wrapper .table > tbody > tr > td ul {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
      }

footer {
  height: 60px;
  background-color: #3d7e99;
  color: #fff;
  padding: 20px;
  margin-top: 30px;
}

  footer a {
    color: #fff;
    cursor: pointer;
  }

  footer a:hover {
    text-decoration: none;
    color: #f5f5f5;
  }



/*    .rates-wrapper {
      background-color: #FFF;
      padding: 20px;
    }*/


/* Slider styles */


.slider-wrapper .slider-container {
  margin-left: initial;
  margin-right: initial;
  overflow: hidden;
}

.slider-wrapper img.slide {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.slider-wrapper .arrow {
    cursor: pointer;
    display: block;
    height: 64px;
    margin-top: -35px;
    outline: medium none;
    position: absolute;
    top: 50%;
    width: 64px;
    z-index: 5;
}
.slider-wrapper .arrow.prev {
    background-image: url("../images/prev.png");
    left: 20px;
    opacity: 0.2;
    transition: all 0.2s linear 0s;
}
.slider-wrapper .arrow.next {
    background-image: url("../images/next.png");
    opacity: 0.2;
    right: 20px;
    transition: all 0.2s linear 0s;
}
.slider-wrapper .arrow.prev:hover{
    opacity:1;
}
.slider-wrapper .arrow.next:hover{
    opacity:1;
}

.slider-wrapper .nav {
    display: block;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    z-index: 5;
    padding-top: 10px;
}
.slider-wrapper .nav li {
    cursor: pointer;
    display: inline-block;
    height: 75px;
    width: 86px;
    margin: 4.8px;
    overflow: hidden;
}
.slider-wrapper .nav li.active {
  opacity: 0.5;
}
.slider-wrapper .nav li img {
    height: 100%;
}

.slider-wrapper .container p {
  color: #fff;
  position: absolute;
  bottom: 5px;
  font-size: 2.2rem;
  display: none;
}

.slider-wrapper .container p.active {
  display: block;
}



.slider-nav {
  background-color: #fff;
}
.slider-wrapper .slide {
/*    position: absolute;
    top: 0;
    left: 0;*/
}
.slider-wrapper .slide.ng-hide-add {
    opacity:1;

    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    -webkit-transform: rotateX(50deg) rotateY(30deg);
    -moz-transform: rotateX(50deg) rotateY(30deg);
    -ms-transform: rotateX(50deg) rotateY(30deg);
    -o-transform: rotateX(50deg) rotateY(30deg);
    transform: rotateX(50deg) rotateY(30deg);

    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0;
}
.slider-wrapper .slide.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
.slider-wrapper .slide.ng-hide-remove {
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    display:block!important;
    opacity:0;
}
.slider-wrapper .slide, .slider-wrapper .slide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}

.left-content .show-hide {
  color: #428bca;
  font-size: 1.2rem;
}
 
.left-content .animate-show-hide.ng-hide-add, .left-content .animate-show-hide.ng-hide-remove {
  -webkit-transition:all linear 0.3s;
  -moz-transition:all linear 0.3s;
  -o-transition:all linear 0.3s;
  transition:all linear 0.3s;
  display:block!important;
}
 
.left-content .animate-show-hide.ng-hide-add.ng-hide-add-active,
.left-content .animate-show-hide.ng-hide-remove {
  opacity:0;
}
 
.left-content .animate-show-hide.ng-hide-add,
.left-content .animate-show-hide.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

.

/* Location section 2 styles */



/* Rates section 3 styles */
#section-3 {
  border-top: 1px solid #3d7e99;
  border-bottom: 1px solid #3d7e99;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 20px;
}

#section-4 {
  height: 800px;
}

/* LOGIN HTML */
.login-container {
  width:  400px;
  margin-left: auto;
  margin-right: auto;
}
