<div class='contact-container'>
  <h1>Contact Us</h1>
  <div class="col-sm-6 contact-info">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Contact Info</h3>
      </div>
      <div class="panel-body">
        <!-- Contact -->
        <div class='row'>
          <div class='col-sm-5 bold'>Contact Name:</div>
          <div class='col-sm-7'>
            <ul>
              <li>Jim Petersen</li>
            </ul>
          </div>
        </div> <!-- End Contact -->
        <!-- Phone Number -->
        <div class='row'>
          <div class='col-sm-5 bold'>Phone Number:</div>
          <div class='col-sm-7'>
            <ul>
              <li>916-780-0565</li>
              <li>916-303-0565</li>
            </ul>
          </div>
        </div> <!-- End Phone Number -->
        <!-- Email -->
        <div class='row'>
          <div class='col-sm-5 bold'>Email:</div>
          <div class='col-sm-7'>
            <ul>
              <li>dillonbeach11tahiti@gmail.com</li>
            </ul>
          </div>
        </div> <!-- End Email -->
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Ask a question</h3>
      </div>
      <div class="panel-body">
        Coming soon...
      </div>
    </div>
  </div>
</div>