<div class='location-content-wrapper'>
	<h2>Places to visit near Dillon's Beach</h2>
	<p>Listed below are popular areas near Dillon Beach to visit. To see more details of activities, restaurants, and other locations, click here.</p>
	<div class='visit-places'>
		<div class="panel panel-default">
		  <!-- Table -->
		  	<table class="table">
		    	<thead>
		    		<tr>
		    			<th>Name</th>
		    			<th class='text-center'>Distance from beach house</th>
		    			<th class='text-center'>View on map</th>
		    		</tr>
		    	</thead>
		    	<tbody>
		    		<tr ng-repeat='nearbyArea in nearbyAreas' ng-click='addPlaceMap(nearbyArea)'>
		    			<td>{{nearbyArea.name}}</td>
		    			<td class='text-center'>{{nearbyArea.distance}}</td>
		    			<td class='text-center marker-color' ng-class="{'notSelected': !nearbyArea.show}"><i class="fa fa-map-marker fa-2x"></i></td>
		    		</tr>
		    	</tbody>
		  	</table>
		</div>
	</div>
</div>
<div class='location-map-wrapper' ng-controller='MapCtrl'>
	<google-map center="map.center" zoom="map.zoom" bounds="map.fitBounds" draggable="true"options="options" zoomControlOptions="map.zoomControlOptions" refresh="refreshMap" control="map.control">
		<markers models="beachHouseMarkers" coords="'self'" icon="'icon'" click="'onClicked'">
<!-- 			<windows show="showWindow" closeClick="closeClick" ng-cloak>
                <div ng-non-bindable>
                	<h3>{{name}}</h3>
                	<p>{{descShort}}</p>
                </div>
            </windows> -->
        </markers>
	</google-map>
</div>
<div class='clear'></div>