<div class='left-content'>
	<!-- Include Slider -->
	<div class='slider-wrapper' ng-include="'app/views/sections/slider.html'" ng-controller='SliderCtrl'></div>
	<div class='main-overview-description'>
		<h3>Petersen Beach House Description</h3>
		<div class='preview' ng-bind-html='bhDescription.visibleText'></div>
		<div class='collapse-description animate-show-hide' ng-show='showDetails' ng-bind-html='bhDescription.hiddenText'></div>
		<p class='show-hide' ng-hide='showDetails' ng-click="showDetails_btn(true)">More Details</p>
		<p class='show-hide' ng-show='showDetails' ng-click="showDetails_btn(false)">Hide details</p>
	</div>
</div>
<div class='right-content'>
	<!-- Level Overview -->
	<div class='overview-content'>
		<div class='levels-overview-wrapper'>
			<div class='main-level-overview'>
				<h3>Main Level</h3>
				<ul>
					<li ng-repeat='levelMainSum in levelMainSums'>
						<span>{{levelMainSum.key}}</span>
						<span>{{levelMainSum.val}}</span>
					</li>
				</ul>
			</div>
			<div class='second-level-overview'>
				<h3>Second Level</h3>
				<ul>
					<li ng-repeat='levelSecSum in levelSecondSums'>
						<span>{{levelSecSum.key}}</span>
						<span>{{levelSecSum.val}}</span>
					</li>
				</ul>
			</div>
		</div>
		<p>Two levels are available for rent.</p>
		<p class='view-rates'><a href="" ng-click="toSection3()">View rates</a></p>
		<nav>
	        <ul class='nav nav-pills'>
	        	<li class='active'><a href="">Contact Owner</a></li>
	        </ul>
	    </nav>
	</div>
	<!-- Quotes -->
	<div class='quotes-container'>
		<h2>Quotes</h2>
		<p>{{bhQuotesSel.text}}</p>
		<p>-{{bhQuotesSel.name}}</p>
	</div>
</div>
<div class='clear'></div>