<div class='row'>
	<div class='left-content col-xs-12 col-sm-8 col-lg-8'>
		<!-- Include Slider -->
		<div class='slider-wrapper' ng-include="'views/sections/slider.html'" ng-controller='SliderCtrl'></div>
		<div class='main-overview-description'>
			<h3>Petersen Beach House Description</h3>
			<div class='preview description-content' ng-bind-html='bhDescription.visibleText'></div>
			<div class='collapse-description description-content' ng-show='showDetails' ng-bind-html='bhDescription.hiddenText'></div>
			<a class='show-hide' ng-hide='showDetails' ng-click="showDetails_btn(true)">More Details</a>
			<a class='show-hide' ng-show='showDetails' ng-click="showDetails_btn(false)">Hide details</a>
		</div>
	</div>
	<div class='right-content col-xs-12 col-sm-4 col-lg-3 col-lg-offset-1'>
		<!-- Level Overview -->
		<div class='overview-content'>
			<div class='levels-overview-wrapper row'>
				<div class='main-level-overview col-xs-12'>
					<h3>Main Level</h3>
					<table class="table table-striped">
	  					<tbody>
	  						<tr ng-repeat='levelMainSum in levelMainSums'>
	  							<td class='indent'>{{levelMainSum.key}}</td>
	  							<td>{{levelMainSum.val}}</td>
	  						</tr>
	  					</tbody>
					</table>
				</div>
				<div class='second-level-overview col-xs-12'>
					<h3>Second Level</h3>
					<table class="table table-striped">
	  					<tbody>
	  						<tr ng-repeat='levelSecSum in levelSecondSums'>
	  							<td class='indent'>{{levelSecSum.key}}</td>
	  							<td>{{levelSecSum.val}}</td>
	  						</tr>
	  					</tbody>
					</table>
				</div>
			</div>
			<p>Two levels are available for rent.</p>
			<nav>
		        <ul class='nav nav-pills'>
		        	<li class='pull-right'><a href="">Contact Owner</a></li>
		        </ul>
		    </nav>
		</div>
		<!-- Quotes -->
		<div class='quotes-container'>
			<p>{{bhQuotesSel.text}}</p>
			<p class='quote-name'>- {{bhQuotesSel.name}}</p>
		</div>
	</div>
</div>