<div class="row">
	<div class="rates-wrapper">
		<h2>Petersen Beach House Rates</h2>
		<div class="left-rates-wrapper col-md-9">
			<div class="rates-table">
				<div class="panel panel-default table-responsive">
				  <!-- Table -->
				  	<table class="table">
				    	<thead>
				    		<tr>
				    			<th class='text-center'>Level (Max Capacity)</th>
				    			<th class='text-center'>2 nights</th>
				    			<th class='text-center'>3 nights</th>
				    			<th class='text-center'>4 nights</th>
				    			<th class='text-center'>5 nights</th>
				    			<th class='text-center'>6 nights</th>
								<th class='text-center'>7 nights</th>
				    		</tr>
				    	</thead>
				    	<tbody>
					    	<tr ng-repeat='row in ratesInfo'>
						        <td ng-repeat='(key, prop) in row'>{{prop | currencyTextFilter}}</td>
			    			</tr>
			    			<tr>
						        <td ng-repeat='(key, prop) in row'>{{prop | currencyTextFilter}}</td>
			    			</tr>
				    	</tbody>
				  	</table>
				</div>
			</div>
			<div class='notes'>
				<h3>Notes</h3>
				<p>Rates shown above do not include taxes and fees</p>
			</div>
		</div>
		<div class='right-rates-wrapper col-md-3'>
			<div class="row">
				<h3>Cleaning</h3>
				<p>Description about cleaning....</p>
				<h3>Other Fees</h3>
				<p>Description about cleaning....</p>
			</div>
			<div class="row">
				<nav>
	        		<ul class='nav nav-pills'>
	        			<li class='active'><a href="">Contact Owner</a></li>
	        		</ul>
	    		</nav>
			</div>
		</div>
	</div>
</div>